<!DOCTYPE html>
<html>
<head>
    <title>User Management App </title>
</head>
<body>
    <h2>Add User😘</h2>
    <form method="POST" action="/add">
        Name: <input type="text" name="name" required><br><br>
        Email: <input type="email" name="email" required><br><br>
        <button type="submit">Add User</button>
    </form>

    <h2>Users List</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>
                <a href="/delete/{{ user[0] }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

